<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="local-postgrest" value="..\publish" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="local-postgrest">
			<package pattern="SourceCrafter.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
			<package pattern="SourceCrafter.*" />
		</packageSource>
	</packageSourceMapping>

</configuration>
